@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark text-neutral-200 !scrollbar-thin !scrollbar-track-transparent !scrollbar-thumb-red-600;
  }

  header {
    @apply fixed top-0 z-50 flex w-full items-center justify-between p-4 transition-all lg:px-10 lg:py-6;
  }
}

@layer components {
  .banner--button {
    @apply flex items-center gap-x-2 rounded px-5 py-1.5 text-sm font-semibold capitalize transition hover:opacity-75 md:py-2.5 md:px-8 md:text-xl;
  }
}
